autom4te.cache/
doc/
engine/Makefile
interface/Makefile
patterns/Makefile
patterns/conn.c
patterns/eyes.c
patterns/hoshi.db
patterns/komoku.db
patterns/mokuhazushi.db
patterns/patterns.c
patterns/sansan.db
patterns/takamoku.db
sgf/Makefile
utils/Makefile
Makefile
abortgo.sgf
config.cache
config.h
config.log
config.status
stamp-h
*.o
engine/libengine.a
interface/gnugo
patterns/joseki
patterns/libpatterns.a
patterns/mkeyes
patterns/mkpat
sgf/libsgf.a
sgf/sgfgen
utils/libutils.a
